{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-title">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="title" value="{{ title }}" placeholder="{{ entry_title }}" id="input-title" class="form-control" />
              {% if error_title %}
                <div class="text-danger">{{ error_title }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_text }}</label>
            <div class="col-sm-10">
              <textarea name="text" placeholder="{{ entry_text }}" id="input-text" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ text }}</textarea>
              {% if error_text %}
                <div class="text-danger">{{ error_text }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-window-type">{{ entry_window_type }}</label>
            <div class="col-sm-10">
              <select name="window_type" id="input-window-type" class="form-control">
                {% if window_type %}
                  <option value="0">{{ text_popup }}</option>
                  <option value="1" selected="selected">{{ text_floating }}</option>
                {% else %}
                  <option value="0" selected="selected">{{ text_popup }}</option>
                  <option value="1">{{ text_floating }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-title">* {{ entry_size_and_position_window }}</label>
            <div class="col-sm-10">
              <div class="row position-floating-window" style="display: none;">
                <div class="col-sm-5">
                  <label class="control-label" for="input-top-distance" style="margin-bottom: 10px;">{{ entry_top_distance }}</label>
                  <input type="text" name="top_distance" value="{{ top_distance }}" placeholder="{{ entry_top_distance }}" id="input-top-distance" class="form-control" />
                  {% if error_top_distance %}
                    <div class="text-danger">{{ error_top_distance }}</div>
                  {% endif %}
                </div>
                <div class="col-sm-1">
                  <label class="control-label" for="input-top-distance-unit" style="margin-bottom: 10px;">&nbsp;</label>
                  <select name="top_distance_unit" id="input-top-distance-unit" class="form-control">
                    <option value="px" {% if top_distance_unit == 'px' %}selected="selected"{% endif %}>{{ text_pixel }}</option>
                    <option value="%" {% if top_distance_unit == '%' %}selected="selected"{% endif %}>{{ text_percent }}</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label class="control-label" for="input-window-location" style="margin-bottom: 10px;">{{ entry_window_location }}</label>
                  <select name="window_location" id="input-window-location" class="form-control">
                      <option value="0" {% if window_location == "0" %}selected="selected"{% endif %}>{{ text_left }}</option>
                      <option value="1" {% if window_location == "1" %}selected="selected"{% endif %}>{{ text_center }}</option>
                      <option value="2" {% if window_location == "2" %}selected="selected"{% endif %}>{{ text_right }}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <label class="control-label" for="input-text" style="margin-bottom: 10px;">{{ entry_width }}</label>
                  <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                  {% if error_width %}
                    <div class="text-danger">{{ error_width }}</div>
                  {% endif %}
                </div>
                <div class="col-sm-9">
                  <label class="control-label" for="input-size-type" style="margin-bottom: 10px;">&nbsp;</label>
                  <select name="size_type" id="input-size-type" class="form-control">
                    {% if size_type %}
                      <option value="0">{{ text_pixel }}</option>
                      <option value="1" selected="selected">{{ text_percent }}</option>
                    {% else %}
                      <option value="0" selected="selected">{{ text_pixel }}</option>
                      <option value="1">{{ text_percent }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" style="margin-bottom: 10px;">
                  <label class="control-label" for="input-window-bg" style="margin-bottom: 10px;">{{ entry_window_bg }}</label>
                  <input type="text" name="window_bg_color" value="{{ window_bg_color }}" placeholder="{{ entry_window_bg_color }}" id="input-window-bg" class="form-control" />
                </div>
                <div class="col-sm-12">
                  <a href="" id="thumb-image0" data-toggle="image" class="img-thumbnail mt-10">
                    <img src="{{ thumb }}" alt="" title="" data-placeholder="{{ img_placeholder }}"/>
                  </a>
                  <input type="hidden" name="window_bg_image" value="{{ window_bg_image }}" id="input-image0"/>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-sm-12">
                <label class="col-sm-2 control-label" for="input-show-type">{{ entry_show_type }}</label>
                <div class="col-sm-10">
                  <select name="show_type" id="input-show-type" class="form-control">
                    <option value="0" {% if show_type == '0' %} selected="selected" {% endif %}>{{ text_onclick }}</option>
                    <option value="1" {% if show_type == '1' %} selected="selected" {% endif %}>{{ text_auto }}</option>
                    <option value="2" {% if show_type == '2' %} selected="selected" {% endif %} id="show_type_onhover">{{ text_onhover }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row button_class" style="margin-bottom: 10px;">
              <div class="col-sm-12">
                <label class="col-sm-2 control-label" for="input-button-class"></label>
                <div class="col-sm-10">
                  <input type="text" name="button_class" value="{{ button_class }}" placeholder="{{ entry_button_class }}" id="input-button-class" class="form-control" />
                  {% if error_button_class %}
                    <div class="text-danger">{{ error_button_class }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row show_frequency" style="margin-bottom: 10px;  display: none">
              <div class="col-sm-12">
                <label class="col-sm-2 control-label" for="input-show-freq">{{ entry_show_freq }}</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-3">
                      <input type="text" name="show_freq" value="{{ show_freq }}" placeholder="{{ entry_show_freq }}" id="input-show-freq" class="form-control" />
                      {% if error_show_freq %}
                        <div class="text-danger">{{ error_show_freq }}</div>
                      {% endif %}
                    </div>
                    <div class="col-sm-9">
                      <select name="show_freq_type" id="input-show-freq-type" class="form-control">
                          <option value="0" {% if show_freq_type == '0' %} selected="selected" {% endif %}>{{ text_minute }}</option>
                          <option value="1" {% if show_freq_type == '1' %} selected="selected" {% endif %}>{{ text_hour }}</option>
                          <option value="2" {% if show_freq_type == '2' %} selected="selected" {% endif %}>{{ text_day }}</option>
                          <option value="3" {% if show_freq_type == '3' %} selected="selected" {% endif %}>{{ text_week }}</option>
                          <option value="4" {% if show_freq_type == '4' %} selected="selected" {% endif %}>{{ text_month }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

  <script type="text/javascript"><!--

    $('#input-window-type').on('change', function () {
      if ($(this).val() === "1") {
        $('.position-floating-window').show()
        $('#show_type_onhover').hide()
        $('#input-show-type').val(0)
      } else {
        $('.position-floating-window').hide()
        $('#show_type_onhover').show()
      }
    })

    if ($('#input-window-type').val() === "1") {
      $('.position-floating-window').show()
      $('#show_type_onhover').hide()
    } else {
      $('.position-floating-window').hide()
      $('#show_type_onhover').show()
    }

    if($('#input-show-type').val() === "1") {
      $('.button_class').hide()
      $('.show_frequency').show()
    } else {
      $('.button_class').show()
      $('.show_frequency').hide()
    }

    $('#input-show-type').change(function() {
      if($(this).val() === "1") {
        $('.button_class').hide()
        $('.show_frequency').show()
      } else {
        $('.button_class').show()
        $('.show_frequency').hide()
      }
    })
//--></script></div>
{{ footer }}
